:root {
  --white: #fff;
  --black: #000;
  --gray: #808080;
  --green: #038001;
  --gray-footer: #403b3b;
  --light-gray: #efefef;
}
body {
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 100;
  overflow-y: scroll;
}

/* Header & Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 1px -2px 5px 2px var(--gray);
  height: 100px;
  padding: 0 80px 8px 80px;
}

header img {
  width: 220px;
  margin-bottom: 10px;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 2px;
  margin: 8px;
}

nav a:hover {
  color: var(--green);
  box-shadow: 0 6px 0px -2px var(--green);
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

h2 {
  font-size: 26px;
  font-weight: 400;
}

.section-content {
  margin: 60px 80px;
}

/* Landingpage */

.landingpage {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
}

.landingpage-content {
  margin-left: 40px;
  width: 50%;
}

.landingpage-content p {
  height: 170px;
}

.landingpage-img {
  width: 50%;
}

.landingpage img {
  width: 100%;
  border-radius: 10px;
}

.button {
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  padding: 10px 60px;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--white);
  color: var(--green);
  text-decoration: none;
  border: solid 2px var(--green);
}

/* Section Recipe */

.section-recipe {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 60px 80px;
  text-align: center;
}

.section-recipe img {
  width: 100%;
  border-radius: 10px;
}

.section-recipe-details {
  padding: 0 20px;
}

/* Section Recipe Idea */

.section-recipe-idea-content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
}

.section-recipe-idea p {
  margin-right: 40px;
  width: 50%;
}

.section-recipe-idea img {
  width: 100%;
  border-radius: 10px;
}

.section-recipe-idea h2 {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 0;
}

.section-recipe-idea-img {
  width: 50%;
}

/* Recipepage */

.spacer {
  height: 1px;
  background-color: var(--light-gray);
  margin: 40px 0 10px 0;
}

.recipepage {
  padding: 60px 80px;
}

.recipepage-ingredients {
  padding-top: 10px;
}

.recipepage-ingredients table {
  width: 100%;
}

.recipepage-ingredients td {
  padding: 20px;
  border-radius: 10px;
}

.recipepage-ingredients tr:nth-child(odd) {
  background-color: var(--light-gray);
}

.recipepage-creator {
  display: flex;
  align-items: center;
}

.recipepage-creator img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}
.recipepage-creator span {
  padding: 20px;
  font-size: 24px;
}

.recipepage-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.recipepage-attributes {
  display: flex;
  padding-top: 16px;
}

.recipepage-attributes img {
  height: 15px;
  width: auto;
  padding-right: 6px;
}

.recipepage-attributes p {
  border: solid 0 var(--black);
  background-color: var(--light-gray);
  border-radius: 12px;
  padding: 6px;
  margin-right: 24px;
}

.recipepage h2 {
  padding-top: 20px;
}

.recipepage-numbers {
  display: flex;
  align-items: center;
}

#amount {
  width: 100px;
  height: 36px;
  padding-left: 6px;
  margin-left: 10px;
  border: 1px solid var(--light-gray);
  box-shadow: 0;
}
.recipepage .button {
  width: 120px;
  padding: 10px 25px;
  border-radius: 0;
  border: 1px solid var(--green);
}
.recipepage .button:hover {
  border: 1px solid var(--light-gray);
}

.recipepage input {
  padding: 0;
  margin: 0;
}

/* Kontakt */

.contact-formular {
  display: flex;
  flex-direction: column;
  width: 400px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  padding: 0 80px;
  background-color: var(--gray-footer);
  color: var(--white);
}

footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--green);
  box-shadow: none;
}

.burgericon {
  width: 30px;
  height: 30px;
  display: none;
}

.burgericon div {
  width: 90%;
  margin: 7px 5%;
  height: 3px;
  background-color: var(--black);
}
.burgericon:hover {
  filter: drop-shadow(0px 0px 12px var(--green));
}

/* Media */

@media (max-width: 520px) {
  header img {
    width: 160px;
  }
  header {
    padding: 0 20px;
  }

  .landingpage,
  .section-recipe,
  .section-recipe-idea-content {
    padding: 40px 20px;
  }
  .section-content {
    margin: 60px 20px;
  }
  footer {
    height: 180px;
    flex-direction: column;
    justify-content: center;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
  }
  .footer-links span {
    display: none;
  }
  .footer-links a {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .landingpage,
  .section-recipe,
  .section-recipe-idea-content {
    flex-direction: column;
    text-align: center;
  }

  .landingpage-content,
  .landingpage-img,
  .section-recipe-idea p,
  .section-recipe-idea-img {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 850px) {
  .header-links a {
    display: none;
  }
  .burgericon {
    display: block;
  }

  header img {
    margin-top: 20px;
  }

  header {
    align-items: center;
  }
}

/* Burgermenu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--gray);
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: var(--green);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
