:root {
  --white: #fff;
  --black: #000;
  --gray: #808080;
  --green: #038001;
  --gray-footer: #403b3b;
  --light-gray: #efefef;
}
body {
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

/* Header & Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 1px -2px 5px 2px var(--gray);
  height: 100px;
  padding: 0 80px 8px 80px;
}

header img {
  width: 220px;
}

nav a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 2px;
  margin: 8px;
}

nav a:hover {
  color: var(--green);
  box-shadow: 0 6px 0px -2px var(--green);
}

h2 {
  font-size: 26px;
  margin-top: 0;
  font-weight: 400;
}

.section-content {
  margin: 0 130px;
}

/* Landingpage */

.landingpage {
  display: flex;
  justify-content: space-around;
  padding: 60px 80px;
}

.landingpage-content {
  margin-left: 40px;
}

.landingpage-content p {
  height: 170px;
}

.landingpage img {
  width: 400px;
  border-radius: 10px;
}

.button {
  background-color: var(--green);
  color: var(--white);
  text-decoration: none;
  padding: 10px 60px;
  border-radius: 10px;
}

.button:hover {
  background-color: var(--white);
  color: var(--green);
  text-decoration: none;
  border: solid 2px var(--green);
}

/* Section Recipe */

.section-recipe {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 60px 80px;
  text-align: center;
}
.section-recipe img {
  width: 200px;
  border-radius: 10px;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 80px;
  background-color: var(--gray-footer);
  color: var(--white);
}

footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--green);
  box-shadow: none;
}

footer img {
  width: 70px;
  color: var(--white);
}
